.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: linear-gradient(90deg, red,blue ) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.homepage-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-button {
  text-decoration: none;
  padding: 10px;
  background: linear-gradient(90deg, rgba(64,147,237,1) 0%, rgba(248,97,156,1) 100%);;
  color: white;
  border-radius: 50px;
  border-width: 0px;
  margin-top: 10px;
  font-size: 4vw;
}

.homepage-button:hover {
  background: rgba(248,97,156,1);
}

#main-title {
  font-size: 8vw;
  margin-top: 100px;
  margin-bottom: 0px;
}

#sub-main-title {
  font-size: 3vw;
  margin-top: 10px;
  margin-bottom: 100px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, rgba(64,147,237,1) 0%, rgba(248,97,156,1) 100%);
}

.nav-title {
  color: white;
  margin-left: 10px;
  font-size: 24px;
}

.home-link {
  text-decoration: none;

}

.emotion-button{
  background: transparent;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
 object-fit: contain;
  height: 80px;
  width: 80px;
  border: none;
}

.sad-button{
  background-image: url(images/sad.png);
}
.angry-button{
  background-image: url(images/angry.png);
}
.confused-button{
  background-image: url(images/confused.png);
}
.disgusted-button{
  background-image: url(images/disgusted.png);
}
.joy-button{
  background-image: url(images/happy.png);
} 

.button-align{

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin: 0 10px;
}
.emotion-button:hover, .emotion-button:focus {
  border: 5px solid rgba(128, 0, 128, 0.391);
}
.id-input {
  width: 30%;
  height: 25px;
  min-width: 200px;
  margin-bottom: 25px;
}

.join-btn {
  
  color: white;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 100px;
  background: linear-gradient(90deg, rgba(64,147,237,1) 0%, rgba(248,97,156,1) 100%);
}

.emotion-button{
  background: transparent;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
 object-fit: contain;
  height: 80px;
  width: 80px;
  border: none;
  margin-top: 5px;
  margin-inline: 5px;
}

.emotion-button:hover, .emotion-button:focus {
  border: 5px solid rgba(255, 255, 255, 0.391);
  
}

.sad-button{
  background-image: url(images/sad.png);
}
.angry-button{
  background-image: url(images/angry.png);
}
.confused-button{
  background-image: url(images/confused.png);
}
.disgusted-button{
  background-image: url(images/disgusted.png);
}
.joy-button{
  background-image: url(images/happy.png);
} 

.end-button{
  margin-top: 50px;
} 

.mic-margin{
  margin-top: 100px;
} 